body{
    padding-top :80px;
    overflow: hidden;
    margin-right: 250px;
}
html{
  overflow: hidden;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 0;
    background-color: var(--accent-color);
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding-top: 60px;
  }
  .rotate{
    transform: rotate(-180deg);
    transition: 0.3s;
  }
  .sidenav a {
    
        font-size: 20px;
        cursor: pointer;
        position: relative;
        color: var(--main-color);
        text-align: center;
    transition: 0.3s;
  }
  

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
