
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

}
canvas{
  background-color: var(--main-color);
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:100%
}
* {
    box-sizing: border-box;
  }
  
li {
  float: left;
  width:  50% ;
}

li a {
  display: block;
  color: var(--main-color);
  background-color: var(--accent-color);
  text-align: center;
  padding: 20px 16px;
  border:none;
  text-decoration: none;
}
.overlay{
  position:fixed;
  display:none;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
  z-index:11;
  background-color: rgba(0,0,0,0.8);
}
.loader {
  border: 16px solid var(--main-color); /* Light grey */
  border-top: 16px solid var(--accent-color); /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: fixed;
  left: 50%;
  top:30%;
  transform: translate(-500px,0);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg); }
}
li a:hover:not(.active) {
  background-color: var(--second-color);
  color:var(--accent-color);

}
.signdiv{
    position: absolute;
    background-color: var(--accent-color);
    z-index: 10;
    top:10%;
    min-height: 650px;
    width: 500px;
    font-size: 14px;
    background-color: var(--main-color);
    border: 2px solid var(--accent-color);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}
@media screen and (orientation:portrait) {
  .signdiv{
    width:70%;
    height:50%;
    top:20%;
  }
}
.active {
  background-color: var(--main-color);
  color:var(--accent-color);
}
.indiv{
    padding:10%;
}   
input {
  width: 100%;
  padding: 12px 20px;
  padding-top: 0;
  color: var(--accent-color);
  font-family: Vollkorn;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--main-color);
}
.checkbox{
  padding: 5px 0px;
  margin:0px;
  width:20px;
  height:20px;
    background:var(--main-color);
    border-radius:5px;
    -ms-transform: translateY(+25%);
    transform: translateY(+25%);
    border:2px solid var(--accent-color);
}
.checkbox :checked{
  background-color: var(--accent-color);
  
}
input:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
button{
    width: 100%;
    height:100%;
    margin:0px;
    padding:10px;
    color:var(--main-color);
    font-family: Vollkorn;
    background-color: var(--accent-color);
    border:none;
    border-radius: 3px;
}
.file-submit{
  height:25px;
  width:25px;
  transform: translateY(50%);
}
.file-select::-webkit-file-upload-button {
  width: 100px;
  padding: 5px;
  margin:0px;
  color:var(--main-color);
  font-family: Vollkorn;
  background-color: var(--accent-color);
  border:none;
  border-radius: 3px;
}
.file-select::before{
  background: var(--acent-color);
  color:var(--main-color)
}
label{
  color: var(--accent-color);
}